.quote-box {
  margin: 0 auto;
  position: relative;
  color: red;
  width: fit-content;
}

.quote {
  width: 70vw;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}